*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: "Lato-Regular";
    src: url(../font/Lato-Regular.ttf) ;
}


body {
     background-color: rgb(244, 244, 244);
     font-family: "Lato-Regular";
    margin: 0;
    padding: 0;
}

.logo-gestoria {
    width: 30%; 
    height: auto; 
}





    .primerImagen {
        max-width: 100%; /* La imagen no excederá el ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }
    
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
      
}

.subtitulo.h2{
    font-weight: bold;
}





.container {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 20px; /* Espaciado interno */
}

h1 {
    margin-bottom: 20px; /* Espacio debajo del título */
}

.services-list {
    display: flex;
    flex-direction: column; /* Coloca los enlaces en una columna */
    gap: 10px; /* Espacio entre los enlaces */
}

.service {
    
    background-color:#03773d; /* Color de fondo inicial */
    color: white; /* Color del texto */
    padding: 15px 20px; /* Espaciado interno */
    text-decoration: none; /* Sin subrayado para enlaces */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave para el color de fondo y transformación */
}

.service:hover {
    background-color: #03773de2; /* Color al pasar el mouse sobre el enlace */
    transform: scale(1.3); /* Aumentar ligeramente el tamaño al hacer hover */
    color: white;
    border: black;
}




    
header{
    background-color: #03773d;
    text-align: center;
    
}
h1{
    font-family:"Lato-Regular";
    color: black;
    padding: 0px;
}

.color-h1{
    background-color:#03773d ;
}

.logo-gestoria{
    width: 70px; /* Cambia el ancho a 100 píxeles */
    height: auto;
    margin: 20px;
}

.gestoriapuente{
    color:black ;
    padding: 20px;
}
h2 {
    color:black;
    padding: 20px;
}
header img{
    width: 30px;
    padding: 5px;
    margin-top: 20px;
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    margin: 20px auto; /*la primera es para arriba y abajo*/
    display: inline-block ; /*coloca los elementos uno al lado del otro*/
}

ul {

    font-size: 1.2rem; 
    line-height: 1.5;
   
}


nav ul li a{ 
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border:white   2px solid;
    padding: 5px;
}

nav ul li a:hover{
    color:#03773d;
    border: black;
    background-color: #03773d;
/*hover es el momento cuando paso el mouse sobre el elemento:es una pseudo clase*/


}

.container {
    display: flex; /* Usar flexbox para alinear los elementos */
    align-items: center; /* Centrar verticalmente */
}

.image {
    width: 300px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción original */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.text {
    max-width: 1000px; /* Ancho máximo para el texto */
}




.subtitulo{
    color: black;
        text-align: center ;
    padding: 22px;

}

.intro{

    display: inline-block;

}

p{
    font-size: 1.2rem;
    line-height: 1.5;
padding: 20px ;
 }


.section-img{
    text-align: center;
}

.section-img img{
    border-radius: 20px;
}

.c-espanola{
    text-align: center;
    
}
.c-espanola img{
    width: 400px;
}

.linea {
    margin-bottom: 10px;
}

.c-italiana{
    text-align: center;
}

.c-taliana img{
    width: 400px;
}

.c-italiana img{
    width: 450px;
}

.form{
    text-align: center;
    padding: 12px;
}

.caja{
    background-color: #03773d;
    width: 400px; 
    height: 6%;
    padding-left: 50px;
}


/*formulario de contacto*/
.form-container {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.consulta-form {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
}

.form-group {
    margin-bottom: 20px; /* Espacio entre los grupos de formulario */
}

label {
    margin-bottom: 20px; /* Espacio entre la etiqueta y el campo */
}

input, select {
    padding: 3px;
    border: 1px solid #03773d;
    border-radius: 3px;
}

button {
    padding: 10px;
    background-color: #cd212ae4; 
    align-self: center;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 150px; /* Cambia a 'auto' para que el botón ajuste su tamaño al contenido */
    max-width: 160px; /* Establece un ancho máximo para el botón */
     }

button:hover {
    background-color: #03773d; /* Color verde al pasar el mouse */
}




.footer {
    background-color: #03773d; 
    padding: 10px 0; /* Espaciado superior e inferior */
}

.footer-container {
    display: flex; /* flexbox para organizar las secciones */
  
}

.footer-section {
    width: 25%; /* Ancho de cada sección */
}

.footer-section h2 {
    margin-bottom: 2px; /* Espacio debajo del título */
}

.footer-section p,
.footer-section ul {
    margin: 5px 0; 
    color: rgb(233, 233, 233);

}

.footer-section a {
    color: rgb(233, 233, 233); /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
}

.footer-section a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
}

.social-links {
    list-style-type: none; /* Sin viñetas en la lista social */
    padding: 0; /* Sin relleno en la lista social */
}

.social-links li {
    display: inline; /* Mostrar enlaces en línea */
    margin-right: 50px; /* Espacio entre los enlaces sociales */
}

.footer-bottom {
    text-align: center; /* Centrar el texto del copyright */
    margin-top: 30px; /* Espacio superior para el copyright */
}







